

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a Seguros del Pacifico</h1>
    <p>¡En esta aplicación Web podras calcular el salario de los empleados de la empresa!</p>
</div>